@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px; /* Adjust width */
    height: 50%; /* Reduce height to 50% */
  }
  
  /* Track (background) */
  ::-webkit-scrollbar-track {
    background: #1a1a1a; /* Dark background */
    border-radius: 10px;
  }
  
  /* Scrollbar handle */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Gray color */
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
